apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: luminary
  labels:
    app: luminary
    component: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: luminary
      component: frontend
  template:
    metadata:
      labels:
        app: luminary
        component: frontend
    spec:
      containers:
        - name: frontend
          image: shubhamm18/luminary-frontend:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: luminary
spec:
  type: NodePort
  selector:
    app: luminary
    component: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
